<section id="blog" class="blog">
    <header class="blog-header">
        $partial("templates/metas.html")$
    </section>
    <section>
        $body$
    </section>
</article>
<hr />
<div id="gitalk-comment">
</div>
<!-- gitalk -->
<script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>
<script>
    function init_comment() {
        const gitalk = new Gitalk({
            clientID: 'cb5605d5ea28ce5ba8d2',
            clientSecret: '942e0d9f31ea8d7d30845fa26bc51ed6551153d8',
            repo: 'comments',
            owner: 'nasyxx',
            admin: ['nasyxx'],
            id: "comment",
            labels: ['comment'],
            createIssueManually: true,
            enableHotKey: true,
            perPage: 10,
            // facebook-like distraction free mode
            distractionFreeMode: false,
            body: location.href
        })
        $if(comment)$
        gitalk.options.id = "$comment$"
        $else$
        gitalk.options.id = document.querySelector("title").text;
        $endif$
        $if(ctitle)$
        gitalk.options.title = "$ctitle$"
        $endif$
        gitalk.render("gitalk-comment")
    }
    try{
        init_comment()
    }catch{
        console.log("Not a Blog.")
    }
</script>
