// main: main.styl

body
    background: $COLOR_BG
    background-attachment: fixed
    transition: none
    background-image:
        linear-gradient(to top, $COLOR_BGT, $COLOR_BG1T, $COLOR_BG2T),
        url("/images/star.gif")

// body:before
//   display: block;
//   right: 0;
//   bottom: 0;
//   position: fixed;
//   left: 0;
//   top: 0;
//   content: ' ';
//   z-index: -1;
//   background: linear-gradient(to top, $COLOR_BGT, $COLOR_BG1T, $COLOR_BG2T)
