// main: main.styl

#comment
    color: $COLOR_TEXT
    font-family: $FONT_FAMILY_NORMAL

.gt-counts, .gt-user-inner
    color: $COLOR_TEXT
    font-family: $FONT_FAMILY_NORMAL

.gt-svg svg
    fill: $COLOR_TITLE!important

.gt-container .gt-ico-github svg
    // fill:

.gt-popup
    background-color: $COLOR_BGT!important
    border-radius: 10px

.gt-copyright
    // display: none

.gt-meta
    border-bottom: none!important

.gt-container .gt-copyright
    border-top: none!important

.gt-container .gt-popup .gt-action
    text-decoration: none

.gt-container a.is--active
    color: $COLOR_TITLE

.gt-header-comment
    & textarea
        background-color: $COLOR_H3!important
        border-radius: 20px!important

div.gr_ver_2
    background-color: $COLOR_BGT!important
    border-radius: 20px!important

.gt-comment-header
    font-family: $FONT_FAMILY_NORMAL
.gt-comment-content
    background-color: $COLOR_BG2T!important
    border-radius: 20px
    box-shadow: 0 0 5px $COLOR_BGT!important
    &:hover
        box-shadow: 0 0 5px $COLOR_BG3!important
        background-color: $COLOR_BG3T!important

blockquote
    background-color: $COLOR_BG1T
    border-radius: 10px
    border-left-color: $COLOR_H2!important
