body {
  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
footer,
tr,
ul.org-ul li {
  font-family: "Chalkboard", "comic sans", "PingFang SC", "Meslo LG", "sans-serif";
  transition: all 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);
  border-radius: 5px;
}
h1:before,
h2:before,
h3:before,
h4:before,
h5:before,
h6:before,
p:before,
a:before,
footer:before,
tr:before,
ul.org-ul li:before,
h1:after,
h2:after,
h3:after,
h4:after,
h5:after,
h6:after,
p:after,
a:after,
footer:after,
tr:after,
ul.org-ul li:after {
  box-sizing: border-box;
}
h1:hover,
h2:hover,
h3:hover,
h4:hover,
h5:hover,
h6:hover,
p:hover,
a:hover,
footer:hover,
tr:hover,
ul.org-ul li:hover {
  box-shadow: 0 2px 5px #0f0c29;
}
h1:hover,
h2:hover,
h3:hover,
h4:hover,
h5:hover,
h6:hover,
p:hover,
a:hover,
footer:hover,
tr:hover,
ul.org-ul li:hover {
  background-color: rgba(15,12,41,0.7);
}
footer:hover {
  background-color: rgba(15,12,41,0.7);
}
h1,
.h1 {
  color: #ffaaa5;
  position: relative;
  font-size: 2rem;
  padding-left: 2px;
  border-left: 5px solid #ffaaa5;
  border-radius: 3px;
}
h1:hover,
.h1:hover {
  color: #ff827b;
  border-left-color: #ff5e55;
}
h1 .h1_icon,
.h1 .h1_icon {
  position: absolute;
  left: -2rem;
  top: -4px;
  font-size: 1.5rem;
  color: #ffaaa5;
  text-shadow: 0 0 5px;
}
h1 .h1_icon svg,
.h1 .h1_icon svg {
  color: #ffaaa5;
}
h1.main-title,
.h1.main-title {
  border-left: none;
}
h1.main-title .h1_icon,
.h1.main-title .h1_icon {
  position: absolute;
  left: -1.2rem;
  top: -4px;
  font-size: 1.5rem;
  color: #ffaaa5;
  text-shadow: 0 0 5px;
}
h1.main-title .h1_icon svg,
.h1.main-title .h1_icon svg {
  color: #e1ffcf;
}
h2 {
  color: #9efcb4;
  position: relative;
  font-size: 1.5rem;
  padding-left: 2px;
  border-left: 5px solid #9efcb4;
  border-radius: 3px;
}
h2:hover {
  color: #76fb95;
  border-left-color: #52fa79;
}
h2 .h2_icon {
  position: absolute;
  left: -1.4rem;
  top: -4px;
  font-size: 1.3rem;
  color: #9efcb4;
  text-shadow: 0 0 5px;
}
h2 .h2_icon svg {
  color: #9efcb4;
}
h3 {
  font-size: 1.3rem;
  color: #e0f9b5;
  position: relative;
  padding-left: 2px;
  border-left: 3px solid #e0f9b5;
  border-radius: 3px;
}
h3:hover {
  color: #cff68d;
  border-left-color: #c0f369;
}
h3 .h3_icon {
  position: absolute;
  left: -1.1rem;
  font-size: 1rem;
  color: #e0f9b5;
  text-shadow: 0 0 5px;
}
h3 .h3_icon svg {
  color: #e0f9b5;
}
h4 {
  color: #ffcfdf;
  position: relative;
  padding-left: 2px;
  border-left: 3px solid #ffcfdf;
  border-radius: 3px;
}
h4:hover {
  color: #ffa1c0;
  border-left-color: #ff77a4;
}
h4 .h4_icon {
  position: absolute;
  left: -0.65rem;
  font-size: 1rem;
  color: #ffcfdf;
  text-shadow: 0 0 5px;
}
h4 .h4_icon svg {
  color: #ffcfdf;
}
a,
svg {
  color: #a8d8ea;
  transition: all 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);
}
a:before,
svg:before,
a:after,
svg:after {
  box-sizing: border-box;
}
a:hover,
svg:hover {
  text-shadow: 0 0 1px #0f0c29, 0 0 2px;
}
a:hover,
svg:hover {
  color: #b2e672;
}
p,
ul.org-ul li {
  font-size: 1rem;
  color: #e1ffcf;
  padding: 5px;
  border-radius: 5px;
  text-shadow: 0 0 1px #0f0c29, 0 0 2px #0f0c29;
}
p:hover,
ul.org-ul li:hover {
  box-shadow: 0 2px 5px #0f0c29;
}
p:hover,
ul.org-ul li:hover {
  background-color: rgba(15,12,41,0.7);
  color: #d1ffb6;
}
p::selection,
ul.org-ul li::selection,
p b::selection,
ul.org-ul li b::selection {
  color: #9efcb4;
}
footer {
  font-size: smaller;
  color: #b2e672;
  font-family: "Chalkboard", "comic sans", "PingFang SC", "Meslo LG", "sans-serif";
}
table {
  font-family: "Chalkboard", "comic sans", "PingFang SC", "Meslo LG", "sans-serif";
  font-size: 1rem;
  color: #e1ffcf;
}
ul {
  padding: 0;
  font-family: "Chalkboard", "comic sans", "PingFang SC", "Meslo LG", "sans-serif";
  font-size: 1rem;
  color: #e1ffcf;
}
ul li {
  list-style: none;
  padding: 0 5px;
  color: #e1ffcf;
  font-family: "Chalkboard", "comic sans", "PingFang SC", "Meslo LG", "sans-serif";
  font-size: 1rem;
}
ul li p,
ul li a {
  margin: 0;
}
ul.org-ul li {
  list-style: inside;
}
hr {
  border: 2px dashed #9efcb4;
}
.hidden {
  display: none !important;
}
.opacity {
  opacity: 0;
}
ol {
  list-style: none;
}
* {
  transition: all 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);
}
*:before,
*:after {
  box-sizing: border-box;
}
*::selection {
  background-color: rgba(77,54,100,0.7);
}
*,
* *:after {
  box-sizing: border-box;
}
@media (max-width: 768px) {
  .h1_icon,
  .h2_icon,
  .h3_icon,
  .h4_icon {
    display: none;
  }
}
body {
  background: #0f0c29;
  background-attachment: fixed;
  transition: none;
  background-image: linear-gradient(to top, rgba(15,12,41,0.7), rgba(48,43,99,0.7), rgba(36,36,62,0.7)), url("/images/star.gif");
}
pre {
  border-radius: 10px;
  overflow-x: scroll;
  transition: all 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);
  box-shadow: 0 1px 4px #ffaaa5;
}
pre:before,
pre:after {
  box-sizing: border-box;
}
pre:hover {
  box-shadow: 0 2px 5px #9efcb4;
}
pre * {
  max-width: 100%;
}
div.org-src-container {
  max-width: 100%;
}
code {
  text-rendering: optimizeLegibility;
  font-family: "FiraCode-retina", "Fira Code", "hermit", "operator mono book", "Menlo", "Meslo LG", monospace;
  font-size: 0.9em;
  max-width: 100%;
  overflow-x: scroll;
}
code pre {
  text-rendering: optimizeLegibility;
  font-family: "FiraCode-retina", "Fira Code", "hermit", "operator mono book", "Menlo", "Meslo LG", monospace;
  max-width: 100%;
}
code span {
  text-rendering: optimizeLegibility;
  font-family: "FiraCode-retina", "Fira Code", "hermit", "operator mono book", "Menlo", "Meslo LG", monospace;
}
code div {
  text-rendering: optimizeLegibility;
  font-family: "FiraCode-retina", "Fira Code", "hermit", "operator mono book", "Menlo", "Meslo LG", monospace;
}
code * {
  text-rendering: optimizeLegibility;
  font-family: "FiraCode-retina", "Fira Code", "hermit", "operator mono book", "Menlo", "Meslo LG", monospace;
  max-width: 100vw;
  overflow-x: scroll;
}
.hljs-comment,
.hljs-quote {
  color: #999;
}
.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-deletion {
  color: #f2777a;
}
.hljs-number,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-meta,
.hljs-link {
  color: #f99157;
}
.hljs-attribute {
  color: #fc6;
}
.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
  color: #9c9;
}
.hljs-title,
.hljs-section {
  color: #69c;
}
.hljs-keyword,
.hljs-selector-tag {
  color: #c9c;
}
.hljs {
  display: block;
  overflow-x: auto;
  color: #ccc;
  padding: 1rem 0.5em;
  border-radius: 0.7rem;
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: bold;
}
td.hljs-ln-numbers {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: right;
  color: #ccc;
  border-right: 1px solid #ccc;
  vertical-align: top;
  padding-right: 5px;
  flex-basis: 2rem;
  justify-content: flex-end;
/* your custom style here */
}
td.hljs-ln-code {
  padding-left: 10px;
  flex-grow: 1;
}
.hljs-ln tr {
  display: flex;
}
.hljs-ln tr > td {
  display: flex;
}
#comment {
  color: #e1ffcf;
  font-family: "Chalkboard", "comic sans", "PingFang SC", "Meslo LG", "sans-serif";
}
.gt-counts,
.gt-user-inner {
  color: #e1ffcf;
  font-family: "Chalkboard", "comic sans", "PingFang SC", "Meslo LG", "sans-serif";
}
.gt-svg svg {
  fill: #ffaaa5 !important;
}
.gt-popup {
  background-color: rgba(15,12,41,0.7) !important;
  border-radius: 10px;
}
.gt-meta {
  border-bottom: none !important;
}
.gt-container .gt-copyright {
  border-top: none !important;
}
.gt-container .gt-popup .gt-action {
  text-decoration: none;
}
.gt-container a.is--active {
  color: #ffaaa5;
}
.gt-header-comment textarea {
  background-color: #e0f9b5 !important;
  border-radius: 20px !important;
}
div.gr_ver_2 {
  background-color: rgba(15,12,41,0.7) !important;
  border-radius: 20px !important;
}
.gt-comment-header {
  font-family: "Chalkboard", "comic sans", "PingFang SC", "Meslo LG", "sans-serif";
}
.gt-comment-content {
  background-color: rgba(36,36,62,0.7) !important;
  border-radius: 20px;
  box-shadow: 0 0 5px rgba(15,12,41,0.7) !important;
}
.gt-comment-content:hover {
  box-shadow: 0 0 5px #4d3664 !important;
  background-color: rgba(77,54,100,0.7) !important;
}
blockquote {
  background-color: rgba(48,43,99,0.7);
  border-radius: 10px;
  border-left-color: #9efcb4 !important;
}
body {
  padding: 0;
  margin: auto;
  max-width: 44rem;
  min-height: 100vh;
}
#container {
  padding: 10px;
  margin: auto;
}
.header {
  display: flex;
  flex-flow: column;
  align-items: baseline;
  border-bottom: 3px dashed #4d3664;
  border-radius: 5px;
  padding: 5px;
  transition: all 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);
  margin-bottom: 1rem;
  box-shadow: 0 1px 0px #9efcb4;
}
.header:before,
.header:after {
  box-sizing: border-box;
}
.header:hover {
  box-shadow: 0 2px 5px #e1ffcf;
}
.header .header-section {
  display: flex;
  flex-flow: column;
  align-items: baseline;
}
.header .header-section-title.title {
  color: #ffaaa5;
  margin-bottom: 0;
  font-size: 2rem;
  border-left: none;
  border-radius: 10px;
}
.header .header-section-title.title:hover {
  color: #e0f9b5;
}
.header .header-section ul {
  display: flex;
  flex-flow: row nowrap;
  list-style-type: none;
  margin: 0;
  padding: 0 0 3px 0;
  border-bottom: 1px dashed #4d3664;
}
.header .header-section-section-nav-list {
  padding: 0 15px;
  border-left: 2px dashed #b2e672;
}
.header .header-section-section-nav-list:nth-child(1) {
  padding-left: 0;
  border-left: none;
}
.blogs-list {
  display: flex;
  flex-flow: column;
}
.blogs-list-article {
  padding: 5px;
  margin: 10px 0;
  border-radius: 5px;
  box-shadow: 0 1px 0px #ffaaa5;
  transition: all 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);
}
.blogs-list-article:before,
.blogs-list-article:after {
  box-sizing: border-box;
}
.blogs-list-article:hover {
  box-shadow: 0 1px 4px #ffcfdf;
}
.blogs-list-header a {
  font-size: 1.3rem;
  color: #e0f9b5;
  text-decoration: none;
}
.blogs-list-header h3 {
  color: #e0f9b5;
}
.metas > section {
  margin: 10px;
  display: flex;
  flex-flow: row;
  align-items: center;
}
.metas svg {
  color: #aa96da;
  width: 17px !important;
}
.metas span,
.metas time {
  color: #e1ffcf;
  font-family: "Chalkboard", "comic sans", "PingFang SC", "Meslo LG", "sans-serif";
  font-size: 1rem;
  padding: 1px 10px;
  margin: 1px;
}
.metas ul {
  display: flex;
  flex-flow: row wrap;
  padding: 1px 10px;
  margin: 1px;
}
.metas ul li {
  list-style: none;
}
.metas ul a {
  border-radius: 0;
  border-bottom: 1px solid;
  padding: 1px 3px;
  margin-left: 5px;
  text-decoration: none;
}
.metas ul a:before {
  content: " #";
  position: relative;
  top: -1px;
  left: -1px;
}
.metas ul a:nth-child(1) {
  margin-left: 0;
}
.metas-list-li {
  padding-left: 0;
}
.table_container {
  overflow: auto;
  border-radius: 5px;
  transition: all 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);
  box-shadow: 0 1px 1px #ffaaa5;
}
.table_container:before,
.table_container:after {
  box-sizing: border-box;
}
.table_container:hover {
  box-shadow: 0 1px 4px #9efcb4;
}
dt {
  font-weight: bold;
}
table {
  width: 100%;
  font-size: 13px;
  border-collapse: collapse;
  text-align: left;
}
th {
  font-size: 14px;
  font-weight: bold;
  color: #ffa5a5;
  border-bottom: 1px dashed #ccc;
  padding: 8px 8px;
  min-width: 100px;
}
th:hover {
  background-color: rgba(77,54,100,0.7);
}
td {
  border-bottom: none;
  padding: 9px 8px 0px 8px;
}
td:hover {
  background-color: rgba(77,54,100,0.7);
}
#content {
  display: flex;
  flex-flow: column;
}
#content > header {
  display: none;
}
.blog-header {
  border-radius: 10px;
  padding-bottom: 5px;
  margin-bottom: 0;
  transition: all 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);
  box-shadow: 0 1px 0px #9efcb4;
}
.blog-header:before,
.blog-header:after {
  box-sizing: border-box;
}
.blog-header:hover {
  box-shadow: 0 2px 5px #e1ffcf;
}
.h1-fixed {
  top: 0;
  margin: auto;
  background-color: rgba(15,12,41,0.7);
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  max-width: 44rem;
  border-left: 0;
  border-radius: 5px;
  box-shadow: 0 3px 3px #e0f9b5;
  transition: all 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);
}
.h1-fixed:hover {
  box-shadow: 0 5px 8px #e0f9b5;
}
.h1-fixed:before,
.h1-fixed:after {
  box-sizing: border-box;
}
.text-table-of-contents {
  border: 1px dashed #ffcfdf;
  border-radius: 3px;
}
.text-table-of-contents li {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
}
.text-table-of-contents a {
  width: 100%;
}
.text-table-of-contents > ul {
  margin: 3px 0;
  padding: 5px 0;
}
.text-table-of-contents > ul > li > a {
  color: #9efcb4;
  font-size: larger;
  text-decoration: none;
}
.text-table-of-contents > ul > li > a:before {
  content: "* ";
}
.text-table-of-contents > ul > li:hover {
  text-shadow: 0 0 2px #0f0c29, 0 0 4px;
}
.text-table-of-contents > ul > li:hover {
  background-color: rgba(48,43,99,0.7);
}
.text-table-of-contents > ul > li > ul > li > a {
  color: #ffcfdf;
  font-size: 1rem;
  text-decoration: none;
}
.text-table-of-contents > ul > li > ul > li > a:before {
  content: "** ";
}
.text-table-of-contents > ul > li > ul > li:hover {
  text-shadow: 0 0 2px #0f0c29, 0 0 4px;
}
.text-table-of-contents > ul > li > ul > li:hover {
  background-color: rgba(36,36,62,0.7);
}
.text-table-of-contents > ul > li > ul > li > ul > li > a {
  color: #ffaaa5;
  font-size: smaller;
  text-decoration: none;
}
.text-table-of-contents > ul > li > ul > li > ul > li > a:before {
  content: "*** ";
}
.text-table-of-contents > ul > li > ul > li > ul > li:hover {
  text-shadow: 0 0 2px #0f0c29, 0 0 4px;
}
.text-table-of-contents > ul > li > ul > li > ul > li:hover {
  background-color: rgba(77,54,100,0.7);
}
#blog-content-nav {
  border-top: 2px dashed #9efcb4;
}
#blog-content-nav ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
#blog-content-nav-last {
  flex-shrink: 0;
}
#blog-content-nav-last a {
  color: #9efcb4;
}
#blog-content-nav-last:before {
  content: "Last: ";
}
#blog-content-nav-next {
  flex-shrink: 0;
}
#blog-content-nav-next a {
  color: #9efcb4;
}
#blog-content-nav-next:before {
  content: "Next: ";
}
#footer {
  border-top: 3px dashed #e0f9b5;
}
#footer section {
  display: flex;
  flex-flow: row;
  align-items: baseline;
}
#footer nav {
  padding-right: 10rem;
}
#footer > div,
#footer p,
#footer svg {
  transition: all 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);
  color: #9efcb4;
  cursor: n-resize;
  font-size: 1.3rem;
}
#footer > div:before,
#footer p:before,
#footer svg:before,
#footer > div:after,
#footer p:after,
#footer svg:after {
  box-sizing: border-box;
}
#footer > div:hover,
#footer p:hover,
#footer svg:hover {
  text-shadow: 0 0 3px #0f0c29, 0 0 6px;
}
#footer > div:hover *,
#footer p:hover *,
#footer svg:hover * {
  color: #e0f9b5;
  font-size: larger;
}
.footdef {
  display: flex;
  flex-flow: row nowrap;
}
.footdef a {
  color: #b2e672;
}
.footdef a:hover {
  color: #0f0c29;
  background-color: #a8d8ea;
}
.footdef sup a {
  text-decoration: none;
}
p.footpara {
  margin: 0;
  padding: 0 5px;
}
